#map {
    background-image: url("../images/order-bg.png");
    background-size: cover;
    position: fixed;
    inset: 0;
}
.main {
    border-radius: 18px;
    box-shadow: 0 7px 20px 0 #0000002E;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.96);
    left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    position: fixed;
    top: 110px;
    bottom: 20px;
    width: 380px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 5;
}
.main-header {
    padding: 18px 18px 12px 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
}

.main-title {
    font-size: 20px;
    line-height: 100%;
    font-weight: bold;
}

.main-text {
    font-size: 12px;
    margin-top: 5px;
    color: #7C7C7C;
}
.main-content {
    padding: 14px 18px 18px 18px;
    overflow: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex: 1;
}
.main-block-title {
    font-size: 12px;
    color: #7C7C7C;
}

.main-route .main-block-title,
.main-package .main-block-title {
    margin-bottom: 6px;
}